
<div id="banner">
  <div class="container">
  <div class="row">
    <div class="6u">


  <div class="button"> hello world, I'm Karen</div>

     </div>

  <div class="6u">
      <a href="#"><img class='imagedropshadow' src="assets/banner.jpg" alt="">
      </a>
  </div>
  </div>
  </div>
</div>


<div id="content">
  <div class="container">
    <div class="row">
      <div class="4u">
        <!-- box 1 -->
        <h3>Hello world</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
      </div>
      <div class="4u">
        <!-- box 2 -->
        <h3>about</h3>
        <p>link to projects </p>
      </div>
      <div class="4u">
        <!-- box 3 -->
        <h2>Visit Dev:Grads</h2>
        <p>
          This is <strong>Dev:Grads</strong>, a site for developers to network, ask and answer code and technical questions and share ideas:
          by <a href="#">AJ</a>. It's responsive, has loads of cool features built from scratch in Rails and uses Twitter Bootstrap.
        </p>
      </div>

    </div>
  </div>
 </div>



<section class="section_dark">
  <h3>Karaign&eacute;e photographie</h3>

  <div id="features">
    <div class="container">
      <div class="row">
          <div class="3u">
								<!-- Feature #1 -->
									<section>
                    <a href="assets/warsaw.jpg" rel="lightbox" class="bordered-feature-image">
                      <img src="assets/warsaw.jpg" alt="Warsaw" class="thumb">
                    </a>
									</section>
							</div>
        <div class="3u">
          <!-- Feature #2 -->
          <section>
            <a href="assets/goldengate.jpg" rel="lightbox"  class="bordered-feature-image">
              <img src="assets/goldengate.jpg" alt="Golden Gate 2011" class="thumb">
            </a>
          </section>
        </div>

        <div class="3u">
          <!-- Feature #3 -->
          <section>
            <a href="assets/wewin.jpg" rel="lightbox"  class="bordered-feature-image">
              <img src="assets/wewin.jpg" alt="Cats 3" class="thumb">
            </a>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<footer> contact details | social media </footer>


</body>




