

<section class="section_light">

  <div id="simplebox">put something in the box</div>

  <div id="simplebox">put something in the box</div>

  <div id="simplebox">put something in the box</div>

</section>

<section class="section_dark">

  <h3>Karaign&eacute;e photographie</h3>

  <a href="#" class="th"><img class='imagedropshadow' src="images/KBW6.jpg" width="100" height="100" alt="desc">
  </a>
  <a href="#" class="th"><img class='imagedropshadow' src="images/KBW6.jpg" width="100" height="100" alt="desc">
  </a>
  <a href="#" class="th"><img class='imagedropshadow' src="images/KBW6.jpg" width="100" height="100" alt="desc">
  </a>




</section>


<footer> contact details | social media </footer>

</body>
