/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 /*
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
 */

body {background: #fafafa}

header {background: #dddddd; clear:both; padding: 20px 0 40px}

.header_nav {background: #fafafa; padding: 15px 0 0; box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6); z-index: 999}
.header_nav_fullwidth {background: #fafafa; padding: 10px 0 2px; margin-bottom: 25px; box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4)}

.nav-bar ul, li {display: inline;}
.nav-bar {margin-top: 0; background: none; display: inline;}
.nav-bar > li {border: 0; padding: 0; font-family: 'Open Sans Condensed',sans-serif; letter-spacing: 1px; box-shadow: none; display: inline-block;}
.nav-bar > li > a:first-child {font-size: 16px; text-transform: uppercase; padding: 0 25px}
.nav-bar > li:last-child {border: 0; box-shadow: none}
.nav-bar > li.active:hover { background: #000; cursor: default; }{}
.nav-bar > li:hover { background: #eeeeee; color: #000;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav-bar > li > a { color: #4d4d4d}
.nav-bar > li > a:hover { color: #000;}


.section_dark {background: #262626; border-top: 0; border-bottom: 1px dotted #999; padding: 20px 0 40px;}
.section_dark h2 {color: #999999; margin: 0 0 20px 0; font-size: 22px; text-align: center}

.section_light {background: #99CCCC; border-top: 0; border-bottom: 1px dotted #999; padding: 20px 0 40px}
.section_light h2 {color: #999999; margin: 0 0 20px 0; font-size: 22px; text-align: center}

#simplebox {
    display: inline;
    width: 20%;
    margin: 20px auto;
    border: solid orange 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.imagedropshadow { padding: 5px; border: solid 1px #EFEFEF; } a:hover img.imagedropshadow { border: solid 1px #CCC; -moz-box-shadow: 1px 1px 5px #999; -webkit-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999; }

a .lightbox  {padding: 30px;}
/*#th  {padding: 10px;}*/


